/* import modules */
@import 'modules/normalize';
@import 'modules/_bootstrap-grid';
@import 'modules/_font';
@import 'modules/slick';
@import 'modules/slick-theme';
@import 'modules/animate';
@import 'modules/magnific-popup';

@import 'blocks/header';
@import 'blocks/burger';
@import 'blocks/features';
@import 'blocks/title';
@import 'blocks/portfolio';
@import 'blocks/services';
@import 'blocks/button';
@import 'blocks/video';
@import 'blocks/stage';
@import 'blocks/request';
@import 'blocks/reviews';

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fdfaf3;
    max-width: 1360px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}