/* import modules */
@import 'modules/normalize';
@import 'modules/_bootstrap-grid';
@import 'modules/_font';
@import 'modules/slick';

@import 'blocks/header';
@import 'blocks/burger';
@import 'blocks/features';
@import 'blocks/title';
@import 'blocks/portfolio';
@import 'blocks/services';

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    padding: 0;
}

h1,h2,h3 {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Raleway', sans-serif;
    background-color: #fdfaf3;
}

a {
    text-decoration: none;
}