<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Document
		<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Raleway:300,400,500,700&display=swap&subset=cyrillic" rel="stylesheet">
		<script src="https://kit.fontawesome.com/ef9d875dbd.js" crossorigin="anonymous"></script>
		link(rel="stylesheet", href="css/main.css")
	body
		header.header
			.bg
			.container
					.navbar
						.navbar__menu
							.menu-icon
						.navbar__logo
							a(href="#")
								img(src="img/icons/logo.svg", alt="")
						.navbar__phone
							img(src="img/icons/phone-ico.svg", alt="") 
							a(href="tel:78008234888") +7 (800) 823  48 88
					.hero
						h1.title Дизайн<br> интерьеров 
						.subtitle.
							Воплотим в жизнь интерьер, который будет радовать лаконичностью и уютом.
						button.button ЗАКАЗАТЬ ДИЗАЙН
						.social-icon
							a(href="#")
								<i class="fab fa-vk"></i>
							a(href="#")
								<i class="fab fa-instagram"></i>
							a(href="#")
								<i class="fab fa-facebook-f"></i>
		section.features
			.container
				.features-wrapper.row
					.features__item.col-3
						.features__item-numb 01
						.features__item-title Берем весь ремонт на себя
						.features__item-descr.
							Заботы по дизайну и отделке помещения возьмем на себя, останется дождаться завершения работ и наслаждаться результатом
					.features__item.col-3
						.features__item-numb 02
						.features__item-title Мы - профессионалы своего дела
						.features__item-descr.
							Наши дизайнеры постоянно повышают квалификацию, посещеют курсы и тренинги     а студия уже реализовала свыше 1000 дизайн-проектов
					.features__item.col-3
						.features__item-numb 03
						.features__item-title Наши проекты индивидуальны
						.features__item-descr.
							Каждый, созданный студией, интерьер - индивидуальное  и максимально продуманное решение для каждого вида помещения
					.features__item.col-3
						.features__item-numb 04
						.features__item-title Рабатаем на выгодных условиях
						.features__item-descr.
							Ценовая политика студии очень лояльна,  мы осуществляем контроль всего процесса работы  и получаем результат который делает клиентов счастивыми
		section.portfolio
			.container
				h2.title Портфолио
				.portfolio-tab
					ul
						li
							a(href="#") Все проекты 
						li
							a(href="#") Дизайн интерьеров
						li
							a(href="#") Отделочные работы
				.slider
					.slider-item
						img(src="img/port-slider1.jpg", alt="")
						.slider-item__title Дизайн интерьера гостиной 
						.slider-item__subtitle Дизайн интерьера
					.slider-item
						img(src="img/port-slider2.jpg", alt="")
						.slider-item__title Дизайн интерьера гостиной 
						.slider-item__subtitle Дизайн интерьера
					.slider-item
						img(src="img/port-slider3.jpg", alt="")
						.slider-item__title Дизайн интерьера гостиной 
						.slider-item__subtitle Дизайн интерьера
					.slider-item
						img(src="img/port-slider4.jpg", alt="")
						.slider-item__title Дизайн интерьера гостиной 
						.slider-item__subtitle Дизайн интерьера
		script(src="js/jquery-3.4.1.min.js")
		script(src="js/main.js")

