<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Дизайн интерьеров
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Playfair+Display:400,700&display=swap&subset=cyrillic,cyrillic-ext" rel="stylesheet">
		<script src="https://kit.fontawesome.com/ef9d875dbd.js" crossorigin="anonymous"></script>
		link(rel="stylesheet", href="css/main.css")
	body
		header.header
			.bg
			.container
					.navbar
						.navbar__menu
							.menu-icon
						.navbar__logo
							a(href="#")
								img(src="img/icons/logo.svg", alt="")
						.navbar__phone
							img(src="img/icons/phone-ico.svg", alt="") 
							a(href="tel:78008234888") +7 (800) 823  48 88
					.hero
						h1.title Дизайн<br> интерьеров 
						.subtitle.
							Воплотим в жизнь интерьер, который будет радовать лаконичностью и уютом.
						button.button ЗАКАЗАТЬ ДИЗАЙН
						.social-icon
							a(href="#")
								<i class="fab fa-vk"></i>
							a(href="#")
								<i class="fab fa-instagram"></i>
							a(href="#")
								<i class="fab fa-facebook-f"></i>
		section.features
			.container
				.features-wrapper.row
					.features__item.col-3
						.features__item-numb 01
						.features__item-title Берем весь ремонт на себя
						.features__item-descr.
							Заботы по дизайну и отделке помещения возьмем на себя, останется дождаться завершения работ и наслаждаться результатом
					.features__item.col-3
						.features__item-numb 02
						.features__item-title Мы - профессионалы своего дела
						.features__item-descr.
							Наши дизайнеры постоянно повышают квалификацию, посещеют курсы и тренинги     а студия уже реализовала свыше 1000 дизайн-проектов
					.features__item.col-3
						.features__item-numb 03
						.features__item-title Наши проекты индивидуальны
						.features__item-descr.
							Каждый, созданный студией, интерьер - индивидуальное  и максимально продуманное решение для каждого вида помещения
					.features__item.col-3
						.features__item-numb 04
						.features__item-title Рабатаем на выгодных условиях
						.features__item-descr.
							Ценовая политика студии очень лояльна,  мы осуществляем контроль всего процесса работы  и получаем результат который делает клиентов счастивыми
		section.portfolio
			.container
				h2.title Портфолио
				.tabs
					ul.tabs__caption
						li.active Все проекты 
						li Дизайн интерьеров
						li Отделочные работы
					.tabs__content.active
						.slider
							.slider-item
								img(src="img/port-slider2.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider1.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider3.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider4.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
					.tabs__content
						.slider2
							.slider-item
								img(src="img/port-slider1.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider2.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider3.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider3.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
					.tabs__content
						.slider3
							.slider-item
								img(src="img/port-slider1.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider2.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider3.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
							.slider-item
								img(src="img/port-slider3.jpg", alt="")
								.slider-item__title Дизайн интерьера гостиной 
								.slider-item__subtitle Дизайн интерьера
		section.services
			.container
				h2.title Наши услуги
				.tabs2
					.row
						.col-3
							ul.tabs2__caption
								li.active Дизайн жилого<br> помещения
								li Дизайн отельных <br>	комнат
								li Дизайн коммерческих<br> объектов
								li Ремонт под ключ
								li Отделочные работы
								li Выезд дизайнера <br>на дом
						.col-9
							.tabs2__content.active
								.services-item
									.services-item__img
										img(src="img/image.jpg", alt="")
									.row
										.col-8
											.block-descr
												h3.services-item__title Дизайн коммерческих объектов
												p.services-item__descr.
													Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
										.col-3.offset-1
											.block-count
												span.services-item__count 532 проекта
												button.button КОНСУЛЬТАЦИЯ
								
							.tabs2__content
								.services-item
									.services-item__img
										img(src="img/image.jpg", alt="")
									.row
										.col-8
											.block-descr
												h3.services-item__title Дизайн коммерческих объектов
												p.services-item__descr.
													Работая с коммерческими объектами, студия изучает целевую аудиторию, создаем коммерческие интерьеры такими, чтобы посетители кафе, бара, гостиницы хотели возвращаться в интерьер снова и снова
										.col-3.offset-1
											.block-count
												span.services-item__count 532 проекта
												button.button КОНСУЛЬТАЦИЯ 
		section.video

			a.btn-play.popup-youtube(href="https://www.youtube.com/watch?v=ZvzNVqpQYsw")
			.about-text.
				О  студии дизайна интерьеров BRUME за 2 минуты
		section.stage
			.container
				h2.title Этапы работы
				.row
					.col-4
						.stage-item
							.stage-item__numb 
								span 1
							h3.stage-item__title Консультация
							.stage-item__descr.
								Обсуждаем задачи и пожелания, предлагаем варианты дизайна интерьера, оговариваем сроки реализации.
					.col-4
						.stage-item
							.stage-item__numb 
								span 2
							h3.stage-item__title Техническое задание
							.stage-item__descr.
								Составляем техническое задание. Заключаем договор, в котором прописываем все этапы проекта.
					.col-4
						.stage-item
							.stage-item__numb 
								span 3
							h3.stage-item__title Замеры и планировка
							.stage-item__descr.
								Фиксируем размеры стен, окон, плинтусов, дверных проемов  для эффективной работы
					.col-4
						.stage-item
							.stage-item__numb 
								span 4
							h3.stage-item__title Дизайн-концепция
							.stage-item__descr.
								Создаем концепцию на основе пожеланий клиента, его образов        и ощущений.  подбираем мебель.
					.col-4
						.stage-item
							.stage-item__numb 
								span 5
							h3.stage-item__title 3D Визуализация
							.stage-item__descr.
								Создаем 3d визуализацию, собираем пакет чертежей соответствующий строительным нормам..
					.col-4
						.stage-item
							.stage-item__numb 
								span 6
							h3.stage-item__title Комплектация интерьера
							.stage-item__descr.
								Подбираем мебель, отделочные материалы, светильники и текстиль. Декорируем интерьер.
		section.request
			.container
				.row
					.col-6
						.request__block-left
							h2.title.title_w Мечтаете об интерьере от <span>Brume<span>?
							form.form
								.form__top-text.
									Оставьте контактные данные, менеджер свяжется с вами  в течении 15 минут, для уточнения всех деталей.
								input(type="text" name="name" placeholder="Имя*" required)
								input(type="text" name="tel" placeholder="Телефон*" required)
								input(type="mail" name="mail" placeholder="E-mail")
								button.button.button_form ОТПРАВИТЬ
								.form__bottom-text.
									Нажимая на кнопку, вы соглашаетесь с условиями обработки персональных данных
					.col-6
						.request__block-right
		section.reviews
			.container-fluid
				h2.title Отзывы наших клиентов
				.slider4
					.reviews__item
						.reviews__item-img
							img(src="img/reviews1.jpg", alt="")
						.reviews__item-name Александра Холодная
						.reviews__item-post Услуга: инерьер детской
						.reviews__item-descr.
							Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели.
							В следующий раз обратимся к BRUME!

					.reviews__item
						.reviews__item-img
							img(src="img/reviews1.jpg", alt="")
						.reviews__item-name Александра Холодная
						.reviews__item-post Услуга: инерьер детской
						.reviews__item-descr.
							Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели.
							В следующий раз обратимся к BRUME!

					.reviews__item
						.reviews__item-img
							img(src="img/reviews1.jpg", alt="")
						.reviews__item-name Александра Холодная
						.reviews__item-post Услуга: инерьер детской
						.reviews__item-descr.
							Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели.
							В следующий раз обратимся к BRUME!
					.reviews__item
						.reviews__item-img
							img(src="img/reviews1.jpg", alt="")
						.reviews__item-name Александра Холодная
						.reviews__item-post Услуга: инерьер детской
						.reviews__item-descr.
							Спасибо студии за замечательный интерьер для моей 4-х летней дочки! Работа прошла быстро и легко, команда выполнила все точно в срок, сделали все как  мы и хотели.
							В следующий раз обратимся к BRUME!
				ul.slider-dots
				

		script(src="js/jquery-3.4.1.min.js")
		script(src="js/slick.js")
		script(src="js/jquery.magnific-popup.min.js")
		script(src="js/main.js")

